@font-face {
  font-family: 'Retrograde-Regular';
  src: url('./assets/Retrograde-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Retrograde-Regular', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 400px;
  height: 400px;
  background-image: url('./assets/background-focus.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.encouragement-text {
  font-size: 1.25rem;
  color: #b1cad8;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8s ease;

}

.encouragement-text.hidden {
  opacity: 0;
}

.background-break {
  background-image: url('./assets/background-break.png');
}

.home-controls {
  display: flex;
  justify-content: center;
  margin: 0;
}

.image-buttons {
  background: none;
  border: none;
  cursor: pointer;
}

.image-buttons img {
  width: 100px;
}

.home-timer {
  font-size: 60px;
  color: #d09caf;
  margin: 0;
}

.gif-image {
  height:100px;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
}

.home-button img {
  width: 120px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeBtn img {
  width: 24px;
  height: 24px;
}